<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
   <!-- Custom styling -->
   <link rel="stylesheet" href='/static/style.css'>
   <title>CM3 Base Station</title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<div class="container-fluid">
   <div>
      <a class="navbar-brand" href="/">
         <img src="/static/SM_LOGIC.svg" alt="Bootstrap" width="70" height="70" class="filter-white">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <li class="underline">
            <a class="nav-link active" href="/">Overview</a>
            </li>
            <li class="underline">
            <a class="nav-link" href="/admin">Admin</a>
            </li>
         </ul>
      </div>
   </div>
   <span class="nav-icon-widgets">
      <span class="date-time" id="time"></span>
      <!-- data link strength, medium signal, 3 bars -->
      <div class="signal-icon medium">
         <div class="signal-bar"></div>
         <div class="signal-bar"></div>
         <div class="signal-bar"></div>
         <div class="signal-bar"></div>
      </div>
      <!-- wifi signal strength -->
      <div class="waveStrength-2">
         <div class="wv4 wave">
            <div class="wv3 wave">
               <div class="wv2 wave">
                  <div class="wv1 wave">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- medium signal, 3 bars -->
      <i class="fa fa-battery-empty font-30px fa-battery-filling" aria-hidden="true" style="color:#9BA1A7">
         <span id="result" style="width:calc(100% * 0.73)"></span>
      </i>
   </span>
<!-- End of line -->
</div>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
   <h1>LED Control</h1>
   {% for pin in pins %}
   <h2>{{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently <strong>on</strong></h2><div class="row"><div class="col-md-2">
      <a href="/{{pin}}/off" class="btn btn-primary" role="button">Turn off</a></div></div>
   {% else %}
      is currently <strong>off</strong></h2><div class="row"><div class="col-md-2">
      <a href="/{{pin}}/on" class="btn btn-primary" role="button">Turn on</a></div></div>
   {% endif %}
   {% endfor %}
</div>

<div class="card">
   <h3>Flask Buttons</h3>
      <form method="post" action="/">
         <input type="submit" value="VALUE1" name="action1" class="btn btn-primary"/>
         <input type="submit" value="VALUE2" name="action2" class="btn btn-primary"/>
      </form>
</div>

<pre class="json_data" id="json_data">
   {% if jsonfile %}
      <script>
            const jsonfile = JSON.parse({{jsonfile|tojson}});
            console.log(jsonfile);
            document.querySelector(".json_data").innerHTML = JSON.stringify(jsonfile, null, 2);
      </script>
   {% endif %}
</pre>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
      $(function() {
         $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
               function(data) {
            //do nothing
            });
            return false;
         });
      });
</script>

<div class='card'>
      <form>
            <a href=# id=test><button class='btn btn-primary'>Test</button></a>
      </form>

</div>

<div class="mt-5 p-3 bg-dark text-white text-center" id="footer">
   <p>Version 1</p>
 </div>

<!-- Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="static/javascript.js"></script>
</body>
</html>