<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
   <!-- Custom styling -->
   <link rel="stylesheet" href='/static/style.css'>
   <!-- FontAwesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>CM3 Base Station</title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<div class="container-fluid">
   <div>
      <a class="navbar-brand" href="/">
         <img src="/static/SM_LOGIC.svg" alt="Bootstrap" width="70" height="70" class="filter-white">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <li class="underline">
            <a class="nav-link active" aria-current="page" href="/">Overview</a>
            </li>
            <li class="underline">
            <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="underline">
            <a class="nav-link" href="/admin2">Admin2</a>
            </li>
         </ul>
      </div>
   </div>
   <span class="nav-icon-widgets">
      <span class="date-time" id="time"></span>
      <!-- data link strength, medium signal, 3 bars -->
      <div id="drone-link-icon">
         <div class="signal-bar"></div>
         <div class="signal-bar"></div>
         <div class="signal-bar"></div>
         <div class="signal-bar"></div>
      </div>
      <!-- wifi signal strength -->
      <div id="wifi-signal-strength">
         <div class="wv4 wave">
            <div class="wv3 wave">
               <div class="wv2 wave">
                  <div class="wv1 wave">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- medium signal, 3 bars -->
      <i class="fa fa-battery-empty font-30px fa-battery-filling" aria-hidden="true" style="color:#9BA1A7">
         <span id="result" style="width:calc(10% * 0.73)"></span>
      </i>
   </span>
<!-- End of line -->
</div>
</nav>

<div class="parent">
   <div id="json_data">
      <h1>System</h1>
      <pre class="json_data_system div1">
         {% if jsonfile %}
            <script>
                  const jsonfile_system = JSON.parse({{jsonfile|tojson}});
                  console.log(jsonfile_system["system"]);
                  document.querySelector(".json_data_system").innerHTML = JSON.stringify(jsonfile_system["system"], null, 2);
            </script>
         {% endif %}
      </pre>
   </div>

   <div id="json_data">
      <h1>Network</h1>
      <pre class="json_data_network div2" id="pre_json">
         {% if jsonfile %}
            <script>
                  const jsonfile_network = JSON.parse({{jsonfile|tojson}});
                  console.log(jsonfile_network["network"]);
                  document.querySelector(".json_data_network").innerHTML = JSON.stringify(jsonfile_network["network"], null, 2);
            </script>
         {% endif %}
      </pre>
   </div>

   <div id="json_data">
      <h1>Link</h1>
      <pre class="json_data_link div3">
         {% if jsonfile %}
            <script>
                  const jsonfile_link = JSON.parse({{jsonfile|tojson}});
                  console.log(jsonfile_link["link"]);
                  document.querySelector(".json_data_link").innerHTML = JSON.stringify(jsonfile_link["link"], null, 2);
            </script>
         {% endif %}
      </pre>
   </div>

   <div id="json_data">
      <h1>Battery</h1>
      <pre class="json_data_battery div4">
         {% if jsonfile %}
            <script>
                  const jsonfile_battery = JSON.parse({{jsonfile|tojson}});
                  console.log(jsonfile_battery["battery"]);
                  document.querySelector(".json_data_battery").innerHTML = JSON.stringify(jsonfile_battery["battery"], null, 2);
            </script>
         {% endif %}
      </pre>
   </div>

   <div id="json_data">
      <h1>Mapping</h1>
      <pre class="json_data_mapping div5">
         {% if jsonfile %}
            <script>
                  const jsonfile_mapping = JSON.parse({{jsonfile|tojson}});
                  console.log(jsonfile_mapping["mapping"]);
                  document.querySelector(".json_data_mapping").innerHTML = JSON.stringify(jsonfile_mapping["mapping"], null, 2);
            </script>
         {% endif %}
      </pre>
   </div>

   <div id="json_data">
      <h1>SystemLog</h1>
      <pre class="json_data_systemlog div6">
         {% if jsonfile %}
            <script>
                  const jsonfile_systemlog = JSON.parse({{jsonfile|tojson}});
                  console.log(jsonfile_systemlog["systemlog"]);
                  document.querySelector(".json_data_systemlog").innerHTML = JSON.stringify(jsonfile_systemlog["systemlog"], null, 2);
            </script>
         {% endif %}
      </pre>
   </div>
</div>

{% include 'footer.html' %}

<!-- Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="static/javascript.js"></script>
</body>
</html>
